body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 400px; /* ここで高さを指定 */
    object-fit: cover; /* 画像が縦横比を保ちつつ、縦横いっぱいに表示される */
    opacity: 0; /* 初期状態は透明 */
    transform: translateY(20px); /* 初期状態で少し下に配置 */
    transition: opacity 3s ease, transform 3s ease; /* アニメーションの設定 */
}

/* 画像が表示されるときの効果 */
body.loaded .photo {
    opacity: 1; /* 完全に表示 */
    transform: translateY(0); /* 元の位置に移動 */
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 48px; /* 上に余白を追加 */
}

.nav-link {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 60px 120px; /* パディングを増やしてボタンを大きくする */
    margin: 0 30px;
    border-radius: 10px; /* ボタンの角を少し丸くする */
    font-size: 2em; /* フォントサイズを大きくする */
    font-weight: bold; /* 文字を太字にして見やすくする */
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #ddd;
}

.contact {
    background-color: #f0f0f0;
    padding: 0.1em;
    text-align: center;
    margin-top: 70px;
}

.contact h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}